services:
  - type: web
    name: weather-app
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn weather_project.wsgi:application"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: weather-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: ".onrender.com"

databases:
  - name: weather-db
    plan: free
